---
import Container from "./Container.astro";

const isClient = Astro.client !== 'server';

// Retrieve the visit count from localStorage if on the client side.
let visitCount = isClient ? Number(localStorage.getItem("visitCount")) || 0 : 0;

// Increment and save visit count if on the client side.
if (isClient) {
  visitCount += 1;
  localStorage.setItem("visitCount", visitCount);
}
---

<footer 
  class="fixed bottom-0 left-0 w-full bg-gray-900 text-white text-sm py-2 z-50 shadow-md"
  id="appfooter">
  <Container>
    <div class="flex justify-center items-center">
      <p class="text-sm mr-2">🌐 CSMJUCOMCAMP23</p>
      <div class="p-2 ">
        <p class="text-base font-medium">👀 จำนวนการเข้าเว็ปแล้ว: 
          <span class="text-yellow-400 font-bold">{visitCount}</span>
        </p>
      </div>
    </div>
  </Container>
</footer>
