---
import Container from "./Container.astro";


---

<div id="solution">
  
    <Container>
      <body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
        <div class="container mx-auto px-6 py-10 space-y-12">
        
         
      
          <!-- Main Content Section -->
          <div class="md:flex md:gap-6 lg:gap-12 lg:items-center">
            <!-- Left Column: Image -->
            <div class="md:w-5/12 lg:w-1/2">
              <img
                src="public/images/certificate.png"
                alt="Image"
                loading="lazy"
                class="w-full"
              />
            </div>
      
            <!-- Right Column: Text Content -->
            <div class="md:w-7/12 lg:w-1/2">
              <h2 class="text-3xl font-bold text-gray-900 dark:text-white md:text-4xl">
                once in a
lifetime opportunity!<br>
สิ่งที่พวกเราทุกคนจะได้รับในการเข้าร่วม
              </h2>
              <p class="my-8 text-gray-600 dark:text-gray-300">
                ได้รับเกียรติบัตร
                พิชิตค่าย สามารถใช้ยื่นในรอบ Portfolio สาขาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้
              </p>
      
             
            </div>
          </div>
        </div>
      
   
      </body>
    
    </Container>

    <script type="visit-count" src="/scripts/visitor-counter.js"></script>
</div>